<%= render "shared/header" %>

<h1>
  User:
  <%= @user.username %>
  <%= @is_same_user ? " (You)" : "" %>
</h1>

<img
  src="
    <%=
      @user.photo_url && @user.photo_url != "" ?
        @user.photo_url : "/assets/user_fallback_image.png"
    %>
  "
  alt="Profile picture of <%= @user.username %>"
/>

<% if @can_follow %>
  <%=
    render(
      partial: "shared/follow_request_form",
      locals: {
        requestee_id: @user.id, requester_id: current_user.id
      }
    )
  %>
<% end %>

<% if @can_unfollow %>
  <%=
    render(
      partial: "shared/unfollow_form",
      locals: {
        random_id: 999,
        followee_id: @user.id,
        follower_id: current_user.id
      }
    )
  %>
<% end %>

<h2>Overview</h2>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Joined: <%= @user.created_at %></li>
  <li>
    <%= @follower_count == 1 ? "Follower" : "Followers" %>:
    <%= @follower_count %>
  </li>
  <li>Following: <%= @followee_count %></li>
  <li>
    <%= @posts.size == 1 ? "Post" : "Posts" %>:
    <%= @posts.size %>
  </li>
</ul>

<h2>Post(s)</h2>
<% if @posts.empty? %>
  <p>None.</p>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to "#{post.body}", post_path(post.id) %>
      </li>
    <% end %>
  </ul>
<% end %>

