<%= render "shared/header" %>

<h1>Post: <%= @post.id %></h1>
<div>
  <p><%= @post.body %></p>
  <span>
    <em>
      Posted by
      <%= current_user.username %>
      <%=
        current_user.is_same_user?(@post.author.id) ? " (You)" : ""
      %>
      on
      <%= @post.created_at %>
    </em>
  </span>
  <br>
  <span>
    <em>
      <%= @likes_count %>
      Like<%= @likes_count == 1 ? "" : "s" %>
    </em>
  </span>
</div>

<br>

<% if @can_like %>
  <%=
    render(
      partial: "shared/like_form", locals: { post_id: @post.id }
    )
  %>
<% end %>

<% if @can_unlike %>
  <%=
    render(
      partial: "shared/unlike_form", locals: {
        post_id: @post.id, liker_id: current_user.id
      }
    )
  %>
<% end %>

<br>

<% if @can_edit %>
  <%= link_to "Edit", edit_post_path(@post.id) %>
<% end %>

<% if @can_delete %>
  <%= link_to(
     "Delete", post_path(@post.id), data: { turbo_method: :delete }
  ) %>
<% end %>

<h2>Comment(s)</h2>
<% if @comments.empty? %>
  <p>None.</p>
<% else %>
  <% @comments.each do |comment| %>
    <%=
      render(
        partial: "shared/comment",
        locals: {
          commenter: comment.author.username,
          date: comment.created_at,
          body: comment.body
        }
      )
    %>
  <% end %>
<% end %>
